/* CSS stylesheet */
body{
  background-color: rgba(131, 220, 78, 0.8);
  font-family: 'Catamaran', sans-serif;
}
.title{
  text-align: center;
  font-size: 36px;
}
.paragraph{
  font-family: 'Open Sans', sans-serif;
}
